
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-size: 14px;
  padding: 0;
  margin: 0px;
  background-color:#282E45 ;
  color: white;
  font-family: "Roboto", sans-serif;
}
a {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
}
.card-body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.card {
    display: flex;
    height: 80vh;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
}
.card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.col-5{
    display: flex;

}
img {
    border: 2px solid #7154AF;

    border-radius: 15px;
    transition: 0.4s;
}
img:hover{
    box-shadow: 0px 0px 10px 2px #7154AF;
}
.col-7{
    width: 50%;
    position: relative;
    background-color: transparent;
}
.notify-badge {
    position: absolute;
    right: 0;
    font-size: 1.6em;
    border: 2px solid #941fe8;
    border: 2px solid;
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: #941fe8;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    color: whitesmoke;
}
.list-group-item{
    font-size: 1.5em;
    margin-bottom: 15px;
    line-height: 1.2em;
    color: #941fe8; 
    background-color: transparent;
   text-align: left;
}
i.fa.fa-arrow-circle-left {
    width: 24px;
}

span {
    font-size: 18px;
}

span.mov-title {
    font-weight: bold;
}
@media screen and (max-width: 723px) {
    .card-header {
      padding: 30px 30px;
    }
    .row{
        display: inline;
    }
    .col-5{
        width: 100%;
    }
    .col-7{
        width: 100%;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    div.card div.card-body {
      width: 100%;
      padding: 30px 5px;
      margin-left: 30px;
    }
  
     h2 {
        margin:25px;
        width: 50%;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
  
    h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    img {
      width: 250px;
  
      justify-content: center;
    }
    .img-fluid {
        height: auto;
        width: 310px;
    }
    .list-group-item{
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 1.2em;
        color: #941fe8; 
        background-color: transparent;
       text-align: left;
    }
  }

  