.mb-5{
  margin-top: 40px;
  
}
.pb-3{
  padding-bottom: 10px;

}
.border-bottom{
  border-color: transparent !important;
}
.align-items-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-control{
  border-radius: 15px;
  

}
.border-right-0{
  border-radius: 15px;
}
.absolute-position {
  margin-top: 40px;
  width: 100%;
  background: grey;
  color: white;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
  padding-left: 10px;
}

.absolute-position li{
    margin-top: 5px;
  }

.col-2 {
    flex: 0 0 auto;
    width: 15%;
}

span.input-group-text.bg-transparent {
    height: 100%;
}

.input-group {
  width: 100%;
}

.input-group.clearfix {
    float: right;
}

i.fa.fa-plus {
    float: right;
    line-height: 24px;
    margin: 0 20px;
}

.absolute-position{
  padding:0;
  background-color :transparent;
}

.absolute-position li {
  margin:0;
  padding:3px 10px;
}

.absolute-position li:hover {
  background-color:#941fe8;
}

div.no-match {
  padding: 10px 15px;
}

.logo{
  border-radius: 20px;
}
@media screen and (max-width: 723px) {
  .card-header {
      padding: 30px 30px;
      align-items: center;
      border:none;
  }
  .col-2{
    
    align-items: center;
  }
  .row{
      display: inline;
  }
  .input-group {
    width: 100%;
    margin-top: 20px;
}
  .col-10{
      width: 100%;
      margin-bottom: 20px;
  }
}